$bgn-white-color: #fff;
$txt-black-color: #000;
$bgn-button-color: #ff9900;
$bgn-hover-color: #FFB84D;
$bgn-active-color: #e1670e;
$bgn-grey-color: #cacaca;
$bgn-form-color: #414141;
$bgn-form-hover: #666;