@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 0 15px;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 670px) {
  .container {
    padding: 0 15px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

:focus {
  outline-color: #ff9900;
}

.button {
  background: #ff9900;
  border-radius: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.button:hover, .button:focus {
  background-color: #FFB84D;
  outline-color: #FFB84D;
}
.button:active {
  background-color: #e1670e;
}

.link-button {
  border-radius: 16px;
  padding: 19px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.link-button:hover, .link-button:focus {
  background-color: #FFB84D;
  outline-color: #FFB84D;
}
.link-button:active {
  background-color: #e1670e;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000;
}
@media (max-width: 576px) {
  .title {
    font-size: 24px;
    line-height: 29px;
  }
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000;
}
@media (max-width: 576px) {
  .text {
    font-size: 14px;
    line-height: 28px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.header {
  margin-bottom: 50px;
  background: #fff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}
@media (max-width: 1024px) {
  .header {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .header {
    margin-bottom: 30px;
    border-radius: 0px 0px 16px 16px;
    min-height: 64px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
@media (max-width: 1024px) {
  .header__container {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media (max-width: 768px) {
  .header__container {
    padding-top: 11px;
    padding-bottom: 10px;
  }
}
.header__logo {
  max-height: 72px;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .header__logo {
    max-width: 150px;
    max-height: 48px;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .header__logo {
    max-width: 110px;
    max-height: 35px;
  }
}
.header__nav {
  display: flex;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__nav-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__nav-item:not(:last-child) {
  margin-right: 85px;
}
@media (max-width: 1366px) {
  .header__nav-item:not(:last-child) {
    margin-right: 55px;
  }
}
@media (max-width: 1024px) {
  .header__nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .header__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.header__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  transition: border-bottom 0.1s ease-out, color 0.3s ease;
}
.header__nav-link:hover {
  border-bottom: 2px solid #ff9900;
}
.header__nav-link:active {
  border-bottom: 2px solid #e1670e;
  color: #e1670e;
}
@media (max-width: 1024px) {
  .header__nav-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333;
  }
}
@media (max-width: 576px) {
  .header__nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 1024px) {
  .header__burger-nav {
    display: block;
    position: absolute;
    z-index: 10;
    width: 420px;
    height: 808px;
    padding-top: 38px;
    padding-left: 50px;
    left: 0px;
    top: 0px;
    background: #fff;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-101%);
  }
}
@media (max-width: 768px) {
  .header__burger-nav {
    width: 420px;
    height: 771px;
    padding-top: 23px;
    border-radius: 0px 0px 24px 24px;
  }
}
@media (max-width: 576px) {
  .header__burger-nav {
    width: 320px;
    height: 407px;
    padding-left: 15px;
    border-radius: 0px 0px 16px 16px;
  }
}
.header__burger-nav--active {
  transform: none;
}
.header__burger {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
@media (max-width: 1024px) {
  .header__burger {
    display: block;
  }
}
.header__burger-icon rect, .header__burger-icon path {
  transition: fill 0.1s ease-in-out;
}
.header__burger-icon:hover rect {
  fill: #ff9900;
}
.header__burger-icon:active rect {
  fill: #e1670e;
}
.header__burger-icon:hover path {
  fill: #ff9900;
}
.header__burger-icon:active path {
  fill: #e1670e;
}
.header__burger-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 105px;
  display: none;
}
@media (max-width: 1024px) {
  .header__burger-close {
    display: block;
  }
}
@media (max-width: 576px) {
  .header__burger-close {
    margin-bottom: 32px;
  }
}
.header__search {
  position: relative;
  height: 24px;
  width: 24px;
  margin-left: 260px;
  transition: height 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), border-radius 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media (max-width: 1366px) {
  .header__search {
    margin-left: 80px;
  }
}
@media (max-width: 1024px) {
  .header__search {
    margin-left: 0px;
  }
}
.header__search.active {
  width: 400px;
  height: 60px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  margin-left: 25px;
}
@media (max-width: 1366px) {
  .header__search.active {
    width: 300px;
    height: 48px;
    border-radius: 18px;
  }
}
@media (max-width: 576px) {
  .header__search.active {
    width: 250px;
  }
}
@media (max-width: 320px) {
  .header__search.active {
    width: 220px;
    height: 43px;
  }
}
.header__search input {
  height: 100%;
  border: none;
  border-radius: 50px;
  background: #fff;
  outline: none;
  font-size: 18px;
  display: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: 16px 0 16px 32px;
}
.header__search input.active {
  display: inline-block;
}
@media (max-width: 1366px) {
  .header__search input {
    padding: 16px 0 16px 16px;
  }
}
@media (max-width: 320px) {
  .header__search input {
    width: 228px;
    padding: 12px 0 12px 12px;
  }
}
.header__search input::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #CACACA;
  border: none;
  outline: none;
  border-bottom: 1px solid #CACACA;
  width: 300px;
}
.header__search input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #CACACA;
  border: none;
  outline: none;
  border-bottom: 1px solid #CACACA;
  width: 300px;
}
@media (max-width: 1366px) {
  .header__search input::-moz-placeholder {
    width: 140px;
    font-size: 14px;
    line-height: 18px;
  }
  .header__search input::placeholder {
    width: 140px;
    font-size: 14px;
    line-height: 18px;
  }
}
.header__search .header__search-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header__search .header__search-btn.active {
  right: 57px;
  transform: translateY(-50%) rotate(360deg);
}
@media (max-width: 1366px) {
  .header__search .header__search-btn.active {
    right: 43px;
  }
}
.header__search .header__cancel-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  opacity: 0;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.4s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header__search .header__cancel-btn.active {
  right: 13px;
  opacity: 1;
  transform: translateY(-50%) rotate(360deg);
}
@media (max-width: 1366px) {
  .header__search .header__cancel-btn.active {
    right: 8px;
  }
}
.header__search-icon rect, .header__search-icon path {
  transition: fill 0.1s ease-in-out;
  transition: stroke 0.1s ease-in-out;
}
.header__search-icon:hover rect, .header__search-icon:active rect {
  fill: #ff9900;
}
.header__search-icon:hover path, .header__search-icon:active path {
  stroke: #ff9900;
}
.header__search .header__cancel-icon rect,
.header__search .header__cancel-icon circle {
  transition: fill 0.1s ease-in-out;
  transition: stroke 0.1s ease-in-out;
  position: absolute;
}
.header__search .header__cancel-icon:hover rect {
  fill: #ff9900;
}
.header__search .header__cancel-icon:active rect {
  fill: #000;
}
.header__search .header__cancel-icon:hover circle {
  stroke: #ff9900;
}
.header__search .header__cancel-icon:active circle {
  stroke: #000;
}

.swiper {
  height: 620px;
  border-radius: 32px;
}
@media (max-width: 1024px) {
  .swiper {
    height: 668px;
  }
}
@media (max-width: 768px) {
  .swiper {
    height: 662px;
    border-radius: 24px;
  }
}
@media (max-width: 576px) {
  .swiper {
    height: 308px;
    border-radius: 16px;
  }
}

.swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 20px 10px !important;
  background-color: #cacaca;
}
@media (max-width: 576px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 5px 10px !important;
  }
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.hero {
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .hero {
    margin-bottom: 35px;
  }
}
@media (max-width: 576px) {
  .hero {
    margin-bottom: 60px;
  }
}
.hero__slide {
  position: absolute;
  z-index: 10;
  padding: 99px 80px 0 80px;
}
@media (max-width: 1024px) {
  .hero__slide {
    padding: 160px 77px 0 77px;
  }
}
@media (max-width: 992px) {
  .hero__slide {
    padding: 160px 40px 0 40px;
  }
}
@media (max-width: 576px) {
  .hero__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 21px 0 21px;
  }
}
.hero__slide--1 {
  background-image: url("../img/hero/slide-1.jpg");
}
.hero__slide--2 {
  background-image: url("../img/hero/slide-2.jpg");
}
.hero__slide--3 {
  background-image: url("../img/hero/slide-3.jpg");
}
.hero__title {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #fff;
  margin-bottom: 24px;
  max-width: 837px;
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }
}
@media (max-width: 992px) {
  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
  }
}
.hero__desc {
  color: #fff;
  margin-bottom: 90px;
  max-width: 790px;
}
@media (max-width: 1024px) {
  .hero__desc {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }
}
@media (max-width: 992px) {
  .hero__desc {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 576px) {
  .hero__desc {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 32px;
  }
}
.hero__button {
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
}
@media (max-width: 576px) {
  .hero__button {
    padding: 13px 28px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }
}

.about-us {
  margin-bottom: 100px;
}
@media (max-width: 1024px) {
  .about-us {
    margin-bottom: 80px;
  }
}
@media (max-width: 576px) {
  .about-us {
    margin-bottom: 61px;
  }
}
.about-us__title {
  margin-bottom: 20px;
}
.about-us__desc {
  max-width: 1235px;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .about-us__desc {
    margin-bottom: 60px;
  }
}
@media (max-width: 992px) {
  .about-us__desc {
    margin-bottom: 55px;
  }
}
@media (max-width: 576px) {
  .about-us__desc {
    margin-bottom: 14px;
  }
}
.about-us__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .about-us__content {
    flex-direction: column;
  }
}
.about-us__column {
  max-width: 49.2%;
}
@media (max-width: 1366px) {
  .about-us__column:first-child {
    max-width: 60%;
  }
  .about-us__column:last-child {
    max-width: 37%;
  }
}
@media (max-width: 1024px) {
  .about-us__column {
    max-width: 100% !important;
  }
  .about-us__column:first-child {
    margin-bottom: 32px;
  }
}
.about-us__card {
  border-radius: 32px;
  position: relative;
}
@media (max-width: 576px) {
  .about-us__card {
    border-radius: 16px;
  }
}
.about-us__card-banner {
  display: flex;
  align-items: flex-end;
  background-image: url("../img/about-us/block-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .about-us__card-banner {
    padding-top: 444px;
  }
}
@media (max-width: 992px) {
  .about-us__card-banner {
    padding-top: 454px;
  }
}
@media (max-width: 576px) {
  .about-us__card-banner {
    background-position: top;
    background-size: 290px 200px;
    padding-top: 208px;
    align-items: center;
  }
}
.about-us__card-info {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .about-us__card-info {
    padding: 34px 40px;
  }
}
@media (max-width: 576px) {
  .about-us__card-info {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background: none;
    border-radius: 0;
  }
}
.about-us__card-desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  max-width: 56%;
}
@media (max-width: 992px) {
  .about-us__card-desc {
    max-width: 61%;
  }
}
@media (max-width: 576px) {
  .about-us__card-desc {
    max-width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000;
    margin-bottom: 12px;
  }
}
.about-us__card-button {
  border: 3px solid #ff9900;
}
.about-us__card-button:hover, .about-us__card-button:focus {
  background-color: #ff9900;
}
@media (max-width: 576px) {
  .about-us__card-button:hover, .about-us__card-button:focus {
    color: #fff;
  }
}
.about-us__card-button:active {
  border: 3px solid #e1670e;
  background-color: #e1670e;
}
@media (max-width: 576px) {
  .about-us__card-button {
    border-radius: 8px;
    border: 2px solid #ff9900;
    padding: 10px 42px;
    font-size: 12px;
    line-height: 15px;
    color: #ff9900;
  }
}
.about-us__card-block-1 {
  background: url("../img/about-us/block-2.svg") no-repeat left center;
  background-position: left 60px top 50%;
  background-color: #fff;
  border: 1px solid #cacaca;
  padding: 64px 115px 64px 300px;
  margin-bottom: 32px;
}
@media (max-width: 1366px) {
  .about-us__card-block-1 {
    background-position: top 50px left 30%;
    padding: 235px 50px 50px 50px;
  }
}
@media (max-width: 1024px) {
  .about-us__card-block-1 {
    background-position: left 77px top 50%;
    padding: 64px 155px 64px 315px;
  }
}
@media (max-width: 992px) {
  .about-us__card-block-1 {
    background-position: left 40px top 50%;
    background-size: 114px 99px;
    padding: 34px 44px 34px 170px;
  }
}
@media (max-width: 576px) {
  .about-us__card-block-1 {
    background-position: top left;
    background-size: 64px 49px;
    padding: 0;
    padding-top: 61px;
    border: none;
    border-radius: 0;
  }
}
.about-us__card-block-2 {
  background: url("../img/about-us/block-3.svg") no-repeat left center;
  background-position: left 60px top 50%;
  background-color: #fff;
  border: 1px solid #cacaca;
  padding: 64px 115px 64px 300px;
}
@media (max-width: 1366px) {
  .about-us__card-block-2 {
    background-position: top 50px left 30%;
    padding: 235px 50px 50px 50px;
  }
}
@media (max-width: 1024px) {
  .about-us__card-block-2 {
    background-position: left 77px top 50%;
    padding: 64px 155px 64px 315px;
  }
}
@media (max-width: 992px) {
  .about-us__card-block-2 {
    background-position: left 40px top 50%;
    background-size: 114px 99px;
    padding: 34px 44px 34px 170px;
  }
}
@media (max-width: 576px) {
  .about-us__card-block-2 {
    background-position: top left;
    background-size: 64px 49px;
    padding: 0;
    padding-top: 61px;
    border: none;
    border-radius: 0;
  }
}
.about-us__subtitle {
  margin-bottom: 8px;
  max-width: 452px;
}
@media (max-width: 576px) {
  .about-us__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    margin-bottom: 4px;
  }
}
.about-us__text {
  max-width: 450px;
}
@media (max-width: 576px) {
  .about-us__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000;
  }
}

.how-working {
  margin-bottom: 111px;
}
@media (max-width: 1024px) {
  .how-working {
    margin-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .how-working {
    margin-bottom: 49px;
  }
}
@media (max-width: 576px) {
  .how-working {
    margin-bottom: 60px;
  }
}
.how-working__title {
  margin-bottom: 50px;
}
@media (max-width: 576px) {
  .how-working__title {
    margin-bottom: 20px;
  }
}
.how-working__step {
  display: flex;
  margin-bottom: 45px;
}
@media (max-width: 1024px) {
  .how-working__step {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .how-working__step {
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .how-working__step {
    margin-bottom: 16px;
  }
}
.how-working__step-title:not(:last-child) {
  margin-right: 85px;
}
@media (max-width: 576px) {
  .how-working__step-title:not(:last-child) {
    margin-right: 44px;
  }
}
.how-working__step-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  transition: color 0.3s ease;
}
@media (max-width: 576px) {
  .how-working__step-button {
    font-size: 14px;
    line-height: 17px;
  }
}
.how-working__step-button:hover {
  color: #ff9900;
}
.how-working__step-button:active {
  color: #e1670e;
}
.how-working__step-button--active {
  color: #e1670e;
}
.how-working__content {
  display: none;
}
.how-working__content--active {
  display: block;
}
.how-working__block {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .how-working__block {
    flex-direction: column-reverse;
  }
}
.how-working__block-info {
  max-width: 42.85%;
}
@media (max-width: 1024px) {
  .how-working__block-info {
    max-width: 47.3%;
  }
}
@media (max-width: 992px) {
  .how-working__block-info {
    max-width: 100%;
  }
}
.how-working__block-img {
  border-radius: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 49.2%;
}
@media (max-width: 1024px) {
  .how-working__block-img {
    max-width: 47.3%;
  }
}
@media (max-width: 992px) {
  .how-working__block-img {
    max-width: 100%;
    max-height: 284px;
    margin-bottom: 38px;
    border-radius: 24px;
  }
}
@media (max-width: 576px) {
  .how-working__block-img {
    margin-bottom: 16px;
    border-radius: 16px;
    min-height: 160px;
  }
}
.how-working__subtitle {
  line-height: 32px;
  margin-bottom: 8px;
}
@media (max-width: 576px) {
  .how-working__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }
}
.how-working__text {
  max-width: 758px;
  margin-bottom: 18px;
}
@media (max-width: 1024px) {
  .how-working__text {
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .how-working__text br {
    display: none;
  }
}
.how-working__button-1 {
  background: #ff9900;
  border: 1px solid #ff9900;
  margin-right: 28px;
  transition: border 0.1s ease-in-out;
}
.how-working__button-1:hover, .how-working__button-1:focus {
  border: 1px solid #FFB84D;
}
.how-working__button-1:active {
  border: 1px solid #e1670e;
}
@media (max-width: 576px) {
  .how-working__button-1 {
    padding: 12px 44px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    margin-right: 2px;
  }
}
.how-working__button-2 {
  font-weight: 400;
  color: #000;
  border: 1px solid #000;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.how-working__button-2:hover, .how-working__button-2:focus {
  border: 1px solid #666;
  background: #666;
  color: #fff;
  outline-color: #666;
}
.how-working__button-2:active {
  background: #000;
  color: #fff;
}
@media (max-width: 576px) {
  .how-working__button-2 {
    padding: 12px 32px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }
}

.ui-accordion {
  font-family: "Montserrat", sans-serif;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #cacaca;
  border-left: none;
  transition: color 0.2s linear;
  color: #000;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 0;
  padding-left: 0;
}
@media (max-width: 576px) {
  .ui-accordion .ui-accordion-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.ui-accordion .ui-accordion-header:first-child {
  border-top: 1px solid #cacaca;
}

.ui-accordion-header-active {
  padding-bottom: 30px !important;
  border-bottom: 0 !important;
}
.ui-accordion-header-active:hover {
  color: #ff9900;
}

.ui-accordion-header-collapsed:hover {
  color: #ff9900;
}

.ui-accordion-header-collapsed:hover .ui-accordion-header-icon {
  background-image: url("../img/faq/plus-white.svg");
  background-color: #ff9900;
}

.ui-accordion-header:focus .ui-accordion-header-icon {
  background-image: url("../img/faq/plus.svg");
  background-color: #cacaca;
}

.ui-state-active .ui-icon {
  background-image: url("../img/faq/plus.svg");
  transform: rotate(45deg);
  transition: transform 0.2s linear;
  background-color: #cacaca;
}
.ui-state-active .ui-icon:hover {
  background-color: #ff9900;
}

.ui-accordion-header-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: url("../img/faq/plus.svg") center center no-repeat;
  background-color: #cacaca;
  transition: background-color 0.2s linear, background-image 0.2s linear, transform 0.2s linear;
}
@media (max-width: 576px) {
  .ui-accordion-header-icon {
    width: 30px;
    height: 30px;
    background-size: 19px;
  }
}

.ui-accordion .ui-accordion-content {
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #cacaca;
  padding: 0;
  padding-bottom: 40px;
}

.faq {
  margin-bottom: 100px;
}
.faq__title {
  margin-bottom: 32px;
}
@media (max-width: 576px) {
  .faq__title {
    margin-bottom: 16px;
  }
}
.faq__subtitle {
  line-height: 32px;
  margin-right: auto;
  max-width: 82%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
@media (max-width: 1024px) {
  .faq__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .faq__subtitle {
    max-width: 86%;
  }
}
@media (max-width: 576px) {
  .faq__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .faq__text {
    font-size: 14px;
    line-height: 28px;
  }
}
.faq__text:first-child {
  margin-bottom: 32px;
}

.footer {
  background: #000;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 992px) {
  .footer__container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
@media (max-width: 576px) {
  .footer__container {
    align-items: center;
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
@media (max-width: 576px) {
  .footer__block:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1366px) {
  .footer__block:last-child {
    display: none;
  }
}
.footer__logo {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .footer__logo {
    margin-bottom: 16px;
  }
}
@media (max-width: 576px) {
  .footer__logo {
    max-width: 131px;
    max-height: 42px;
  }
}
@media (max-width: 992px) {
  .footer__nav {
    display: none;
  }
}
.footer__nav-list {
  margin-bottom: 90px;
}
.footer__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #cacaca;
  transition: color 0.3s ease;
}
.footer__nav-link:hover {
  color: #ff9900;
}
.footer__nav-link:active {
  color: #e1670e;
}
.footer__social {
  display: flex;
}
.footer__social-item:not(:last-child) {
  margin-right: 25px;
}
.footer__form-title {
  color: #cacaca;
  margin-bottom: 25px;
}
@media (max-width: 576px) {
  .footer__form-title {
    margin-bottom: 20px;
  }
}
.footer__form {
  text-align: center;
}
@media (max-width: 992px) {
  .footer__form {
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .footer__form {
    margin-bottom: 16px;
    border-bottom: 1px solid #414141;
    padding-bottom: 16px;
  }
}
.footer__form-text {
  color: #cacaca;
  background: #414141;
  border-radius: 16px;
  padding: 14px 24px;
  border: none;
  width: 570px;
  margin-bottom: 25px;
  transition: background 0.3s ease;
}
.footer__form-text:hover {
  background: #666;
}
.footer__form-text:active {
  color: #fff;
  background: #666;
}
@media (max-width: 576px) {
  .footer__form-text {
    width: 290px;
    padding: 14px 20px;
    font-size: 14px;
    line-height: 32px;
  }
}
.footer__form-text-area {
  color: #cacaca;
  background: #414141;
  border-radius: 16px;
  padding: 14px 24px;
  border: none;
  width: 570px;
  height: 150px;
  margin-bottom: 32px;
  max-width: 570px;
  max-height: 250px;
  min-width: 570px;
  min-height: 80px;
  transition: background 0.3s ease, color 0.3s ease;
}
.footer__form-text-area:hover,
.footer__form-text-area :focus {
  background: #666;
  outline-color: #666;
}
.footer__form-text-area:active {
  color: #fff;
  background: #666;
}
@media (max-width: 576px) {
  .footer__form-text-area {
    font-size: 14px;
    line-height: 32px;
    max-width: 290px;
    min-width: 290px;
    max-height: 150px;
    min-height: 150px;
    padding: 14px 20px;
    margin-bottom: 21px;
  }
}
.footer__button {
  padding: 19px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 576px) {
  .footer__button {
    padding: 12px 28px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }
}
.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 363px;
  color: #cacaca;
}
@media (max-width: 576px) {
  .footer .footer__social-icon {
    width: 40px;
    height: 40px;
  }
}
.footer .footer__social-icon path {
  transition: fill 0.3s ease;
}
.footer .footer__social-icon:hover path {
  fill: #ff9900;
}
.footer .footer__social-icon:active path {
  fill: #e1670e;
}/*# sourceMappingURL=style.css.map */